body {
    text-align: center;
    letter-spacing: 0.01em;
    font-family: verdana, helvetica, sans-serif;
}

#container { margin: 50px auto 10px auto; }

h1, h2 {
    font-family: Georgia, serif;
    font-weight: normal;
    letter-spacing: -0.075em;
}

h1 { font-size: 40px; }

a {
    text-decoration: none;
    color: #FF3366;
    padding-bottom: 2px;
}

a:hover {
    color: #FF3366;
    border-color: #999999;
    border-width: 0px 0px 1px 0px;
    border-style: dotted;
}

