.svg-icon.icon-repeat::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.455.301c6.136-1.52 11.898 2.916 12.405 8.833l-1.422.123c-.403-4.683-4.645-8.284-9.433-7.781-4.28.449-7.643 4.149-7.679 8.452-.04 4.76 3.82 8.643 8.572 8.643.22 0 .44-.008.66-.025a.694.694 0 01.753.577l.009.057a.688.688 0 01-.625.79c-.265.02-.532.03-.797.03C4.9 20 .12 14.693 1.003 8.53 1.572 4.56 4.565 1.265 8.455.3zM18.87 16.036a10 10 0 01-1.017 1.149l-.995-1.026a8.86 8.86 0 00.874-.986l1.139.863zM16.025 18.587a10.24 10.24 0 01-1.375.684l-.537-1.324c.403-.163.8-.361 1.18-.588l.732 1.228zM19.175 12.233l1.38.371c-.134.495-.306.983-.514 1.45l-1.306-.58c.178-.4.326-.818.44-1.241z' fill='%23CE1628'/%3E%3Cpath d='M20.248 11.01l2.566-2.565a.714.714 0 10-1.01-1.01L20.247 8.99l-1.555-1.555a.715.715 0 00-1.01 1.01l2.565 2.565z' fill='%23CE1628'/%3E%3C/svg%3E"); }

.svg-icon.icon-envelope::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='27' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23CE1628' stroke-width='1.5' stroke-linejoin='round' d='M7.336 1h18.418v14H7.336z'/%3E%3Cpath d='M25.599.777L16.546 9.83 7.493.777' stroke='%23CE1628' stroke-width='1.5' stroke-linejoin='round'/%3E%3Crect x='3.312' y='1.916' width='4.025' height='1.249' rx='.624' fill='%23CE1628'/%3E%3Crect y='12.612' width='7.336' height='1.249' rx='.624' fill='%23CE1628'/%3E%3Crect x='1.649' y='7.273' width='5.843' height='1.249' rx='.624' fill='%23CE1628'/%3E%3C/svg%3E"); }

.svg-icon.icon-chart::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='43' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.721.5a4.486 4.486 0 00-4.48 4.481c0 .901.268 1.74.727 2.444l-4.84 4.84a4.454 4.454 0 00-2.445-.727c-.933 0-1.801.287-2.52.778l-4.89-4.892c.459-.703.727-1.542.727-2.443C20 2.511 17.99.5 15.519.5a4.486 4.486 0 00-4.481 4.481c0 .901.268 1.74.727 2.443l-4.84 4.842a4.452 4.452 0 00-2.444-.728A4.486 4.486 0 000 16.019c0 2.47 2.01 4.481 4.481 4.481 2.47 0 4.48-2.01 4.48-4.481 0-.901-.267-1.74-.727-2.444l4.841-4.84c.704.459 1.543.727 2.444.727s1.74-.268 2.444-.728l4.918 4.919a4.454 4.454 0 00-.678 2.366c0 2.47 2.01 4.48 4.48 4.48 2.471 0 4.482-2.01 4.482-4.48 0-.901-.269-1.74-.728-2.443l4.841-4.842c.704.46 1.543.728 2.444.728 2.47 0 4.48-2.01 4.48-4.481 0-2.47-2.01-4.48-4.48-4.48zM4.481 18.648a2.632 2.632 0 01-2.629-2.629c0-1.45 1.18-2.629 2.629-2.629 1.45 0 2.629 1.18 2.629 2.629 0 1.45-1.18 2.629-2.629 2.629zM15.519 7.61A2.632 2.632 0 0112.89 4.98c0-1.45 1.18-2.629 2.629-2.629 1.45 0 2.629 1.18 2.629 2.629 0 1.45-1.18 2.629-2.629 2.629zm11.164 11.038a2.632 2.632 0 01-2.628-2.629c0-1.45 1.179-2.629 2.628-2.629 1.45 0 2.63 1.18 2.63 2.629 0 1.45-1.18 2.629-2.63 2.629zM37.721 7.61a2.632 2.632 0 01-2.628-2.629c0-1.45 1.179-2.629 2.628-2.629 1.45 0 2.63 1.18 2.63 2.629 0 1.45-1.18 2.629-2.63 2.629z' fill='%23CE1628'/%3E%3C/svg%3E"); }

@media (max-width: 1023px) {
  .cabinet-section.section-detail-order .account-box {
    display: none; } }

.cabinet-section .cabinet-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px; }
  @media (max-width: 1023px) {
    .cabinet-section .cabinet-container {
      display: block;
      padding-left: 15px;
      padding-right: 15px; } }

.cabinet-section .results-container {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.cabinet-section .account-box {
  width: 320px;
  min-width: 320px;
  margin-right: 20px; }
  @media (max-width: 1280px) {
    .cabinet-section .account-box {
      width: 280px;
      min-width: 280px;
      margin-right: 15px; } }
  @media (max-width: 1023px) {
    .cabinet-section .account-box {
      width: auto;
      min-width: 0;
      margin-right: 0; } }
  .cabinet-section .account-box .person-info {
    border-bottom: 1px solid #CE1628;
    margin-bottom: 15px;
    padding-bottom: 15px; }
    @media (max-width: 1023px) {
      .cabinet-section .account-box .person-info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space between;
        -webkit-justify-content: space between;
            -ms-flex-pack: space between;
                justify-content: space between;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end; } }
    @media (max-width: 540px) {
      .cabinet-section .account-box .person-info {
        padding-bottom: 10px;
        margin-bottom: 10px; } }
    .cabinet-section .account-box .person-info .person-name {
      display: block;
      font-size: 28px;
      line-height: 1.5;
      margin-bottom: 15px;
      padding-right: 10px; }
      @media (max-width: 1220px) {
        .cabinet-section .account-box .person-info .person-name {
          font-size: 22px; } }
      @media (max-width: 1023px) {
        .cabinet-section .account-box .person-info .person-name {
          margin-bottom: 0; } }
      @media (max-width: 540px) {
        .cabinet-section .account-box .person-info .person-name {
          font-size: 16px; } }
    @media (max-width: 720px) {
      .cabinet-section .account-box .person-info .change-password-link {
        height: auto;
        font-size: 14px;
        white-space: normal;
        line-height: normal;
        padding: 5px 10px; } }
  @media (max-width: 1023px) {
    .cabinet-section .account-box .cabinet-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  .cabinet-section .account-box .info-label {
    color: #484949;
    font-size: 16px;
    margin-bottom: 5px; }
    @media (max-width: 540px) {
      .cabinet-section .account-box .info-label {
        font-size: 14px; } }
  .cabinet-section .account-box .info-value {
    font-size: 24px; }
    @media (max-width: 540px) {
      .cabinet-section .account-box .info-value {
        font-size: 20px; } }
  .cabinet-section .account-box .card-info {
    border-bottom: 1px solid #CE1628;
    margin-bottom: 15px;
    padding-bottom: 15px; }
    @media (max-width: 1023px) {
      .cabinet-section .account-box .card-info {
        margin-right: 60px;
        border-bottom: 0;
        padding-bottom: 0; } }
    @media (max-width: 540px) {
      .cabinet-section .account-box .card-info {
        margin-right: 25px; } }
  .cabinet-section .account-box .discount-info {
    margin-bottom: 80px; }
    @media (max-width: 1023px) {
      .cabinet-section .account-box .discount-info {
        margin-bottom: 15px; } }
  .cabinet-section .account-box .cabinet-actions {
    display: inline-block; }
    @media (max-width: 1023px) {
      .cabinet-section .account-box .cabinet-actions {
        margin-bottom: 15px; } }
    .cabinet-section .account-box .cabinet-actions .find-order {
      margin-bottom: 15px; }

.cabinet-section .sorting-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px; }
  @media (max-width: 1023px) {
    .cabinet-section .sorting-action {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .cabinet-section .sorting-action .sorting-status {
    padding-right: 20px;
    font-size: 14px;
    color: #484949; }

.cabinet-section .order-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px; }
  .cabinet-section .order-heading .order-title span {
    font-size: 24px;
    display: inline-block;
    padding-bottom: 4px; }
    @media (max-width: 1023px) {
      .cabinet-section .order-heading .order-title span {
        font-size: 20px; } }
    @media (max-width: 540px) {
      .cabinet-section .order-heading .order-title span {
        font-size: 16px; } }
  .cabinet-section .order-heading .date {
    font-size: 14px;
    color: #a1a1a1; }
  .cabinet-section .order-heading .order-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .cabinet-section .order-heading .order-actions .action-block {
      padding: 0; }

.cabinet-section .action-icon {
  margin: 0 4px;
  display: inline-block;
  opacity: 0.8;
  padding: 0; }
  .cabinet-section .action-icon::before {
    width: 25px;
    min-width: 25px;
    height: 20px;
    background-position: 50%; }
  .cabinet-section .action-icon:hover {
    opacity: 1; }

@media (max-width: 1023px) {
  .cabinet-section .more-results {
    text-align: center; } }

.cabinet-section .results-list .table-head,
.cabinet-section .results-detail .table-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f1f1;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  font-size: 14px;
  font-weight: 300; }
  @media (max-width: 540px) {
    .cabinet-section .results-list .table-head,
    .cabinet-section .results-detail .table-head {
      -webkit-border-radius: 0;
              border-radius: 0;
      padding-left: 7px;
      padding-right: 7px; } }

.cabinet-section .results-list .head-cell,
.cabinet-section .results-list .body-cell,
.cabinet-section .results-detail .head-cell,
.cabinet-section .results-detail .body-cell {
  padding-left: 20px;
  padding-right: 20px; }
  @media (max-width: 540px) {
    .cabinet-section .results-list .head-cell,
    .cabinet-section .results-list .body-cell,
    .cabinet-section .results-detail .head-cell,
    .cabinet-section .results-detail .body-cell {
      padding-left: 8px;
      padding-right: 8px; } }

.cabinet-section .results-list .head-cell,
.cabinet-section .results-detail .head-cell {
  padding-top: 25px;
  padding-bottom: 25px; }
  @media (max-width: 540px) {
    .cabinet-section .results-list .head-cell .desktop-label,
    .cabinet-section .results-detail .head-cell .desktop-label {
      display: none; } }
  @media (min-width: 541px) {
    .cabinet-section .results-list .head-cell .mobile-label,
    .cabinet-section .results-detail .head-cell .mobile-label {
      display: none; } }

.cabinet-section .results-list .body-cell,
.cabinet-section .results-detail .body-cell {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px; }

.cabinet-section .results-list {
  margin-bottom: 30px; }
  @media (max-width: 540px) {
    .cabinet-section .results-list {
      margin-left: -15px;
      margin-right: -15px; } }
  .cabinet-section .results-list .order-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 700px) {
      .cabinet-section .results-list .order-info {
        display: block; } }
    @media (max-width: 540px) {
      .cabinet-section .results-list .order-info.body-cell {
        padding-left: 0; } }
  .cabinet-section .results-list .order-no {
    width: 170px;
    min-width: 170px; }
    @media (max-width: 1220px) {
      .cabinet-section .results-list .order-no {
        width: 100px;
        min-width: 100px; } }
  .cabinet-section .results-list .order-created {
    width: 160px;
    min-width: 160px; }
    @media (max-width: 1220px) {
      .cabinet-section .results-list .order-created {
        width: 100px;
        min-width: 100px; } }
    @media (max-width: 700px) {
      .cabinet-section .results-list .order-created.body-cell {
        padding-top: 0;
        margin-top: -10px;
        font-weight: 300; } }
    @media (max-width: 700px) {
      .cabinet-section .results-list .order-created.head-cell {
        display: none; } }
  .cabinet-section .results-list .order-status {
    width: 180px;
    min-width: 180px; }
    @media (max-width: 1220px) {
      .cabinet-section .results-list .order-status {
        width: 106px;
        min-width: 106px; } }
    @media (max-width: 540px) {
      .cabinet-section .results-list .order-status {
        width: 100px;
        min-width: 100px; } }
  .cabinet-section .results-list .order-actions {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    @media (max-width: 540px) {
      .cabinet-section .results-list .order-actions.head-cell {
        display: none; } }
  @media (max-width: 540px) {
    .cabinet-section .results-list .order-more {
      display: none; } }
  .cabinet-section .results-list .result-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
    @media (max-width: 540px) {
      .cabinet-section .results-list .result-line {
        padding-left: 7px;
        padding-right: 7px; } }
    .cabinet-section .results-list .result-line:not(:last-child) {
      border-bottom: 1px solid #CE1628; }
  .cabinet-section .results-list .order-link {
    text-decoration: underline;
    color: #000000; }
    .cabinet-section .results-list .order-link:hover {
      color: #CE1628;
      text-decoration: none; }
  .cabinet-section .results-list .order-completed {
    color: #00c313;
    padding: 5px 0; }
  .cabinet-section .results-list .order-progress {
    color: #CE1628; }
  .cabinet-section .results-list .actions-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -8px; }
    @media (max-width: 540px) {
      .cabinet-section .results-list .actions-wrapper {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
  .cabinet-section .results-list .action-block {
    padding: 0;
    margin: 0; }
  .cabinet-section .results-list .action-icon {
    margin: 0 4px;
    display: inline-block;
    opacity: 0.8;
    padding: 0; }
    .cabinet-section .results-list .action-icon::before {
      width: 25px;
      min-width: 25px;
      height: 20px;
      background-position: 50%; }
    .cabinet-section .results-list .action-icon:hover {
      opacity: 1; }
  .cabinet-section .results-list .more-link {
    font-size: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.7; }
    .cabinet-section .results-list .more-link:hover {
      opacity: 1; }
      .cabinet-section .results-list .more-link:hover::before {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none; }
    .cabinet-section .results-list .more-link::before {
      margin-right: 8px; }
    .cabinet-section .results-list .more-link span {
      font-size: 14px; }

.cabinet-section .results-detail {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 50px; }
  @media (max-width: 540px) {
    .cabinet-section .results-detail {
      margin-left: -15px;
      margin-right: -15px;
      font-size: 12px;
      margin-bottom: 25px; } }
  .cabinet-section .results-detail .detail-orders {
    margin-bottom: 40px; }
  .cabinet-section .results-detail .order-type {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .cabinet-section .results-detail .order-material {
    width: 280px;
    min-width: 280px; }
    @media (max-width: 1220px) {
      .cabinet-section .results-detail .order-material {
        width: 160px;
        min-width: 160px; } }
    @media (max-width: 600px) {
      .cabinet-section .results-detail .order-material {
        width: 120px;
        min-width: 120px; } }
    @media (max-width: 400px) {
      .cabinet-section .results-detail .order-material {
        width: 80px;
        min-width: 80px; } }
  .cabinet-section .results-detail .order-status {
    width: 120px;
    min-width: 120px; }
    @media (max-width: 600px) {
      .cabinet-section .results-detail .order-status {
        width: 80px;
        min-width: 80px; } }
    @media (max-width: 400px) {
      .cabinet-section .results-detail .order-status {
        width: 70px;
        min-width: 70px; } }
  .cabinet-section .results-detail .order-file {
    width: 100px;
    min-width: 100px;
    text-align: right; }
    @media (max-width: 600px) {
      .cabinet-section .results-detail .order-file {
        width: 90px;
        min-width: 90px; } }
    @media (max-width: 540px) {
      .cabinet-section .results-detail .order-file {
        font-size: 0;
        width: 40px;
        min-width: 40px; } }
  .cabinet-section .results-detail .group-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 3px solid #CE1628;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .cabinet-section .results-detail .group-line .group-cell {
      padding: 15px 20px; }
      @media (max-width: 600px) {
        .cabinet-section .results-detail .group-line .group-cell {
          padding: 15px 5px; }
          .cabinet-section .results-detail .group-line .group-cell:first-child {
            padding-left: 15px;
            padding-right: 15px; } }
    .cabinet-section .results-detail .group-line .order-type {
      font-size: 18px;
      font-weight: 400; }
      @media (max-width: 600px) {
        .cabinet-section .results-detail .group-line .order-type {
          font-size: 16px; } }
    .cabinet-section .results-detail .group-line .order-material {
      font-size: 12px; }
    .cabinet-section .results-detail .group-line .order-status {
      font-size: 14px; }
      @media (max-width: 540px) {
        .cabinet-section .results-detail .group-line .order-status {
          font-size: 12px; } }
    .cabinet-section .results-detail .group-line .action-block {
      text-align: right;
      display: block; }
  .cabinet-section .results-detail .detail-order:last-child .result-line {
    border-bottom: 0; }
  .cabinet-section .results-detail .detail-order:first-child .result-line.active {
    border-bottom: 0; }
  .cabinet-section .results-detail .result-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 20px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-bottom: 1px solid #CE1628; }
    .cabinet-section .results-detail .result-line:hover[data-toggle]::after {
      border-color: #CE1628; }
    .cabinet-section .results-detail .result-line.active[data-toggle]::after {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .cabinet-section .results-detail .result-line.active ~ .detail-table {
      display: block;
      border-top: 1px solid #CE1628;
      border-bottom: 1px solid #CE1628; }
    .cabinet-section .results-detail .result-line[data-toggle]::after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      min-width: 15px;
      border-left: 1px solid #000000;
      border-top: 1px solid #000000;
      -webkit-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
              transform: rotate(-135deg); }
  .cabinet-section .results-detail .order-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    @media (max-width: 540px) {
      .cabinet-section .results-detail .order-title {
        font-size: 12px; } }
    .cabinet-section .results-detail .order-title .code {
      width: 115px;
      min-width: 115px;
      color: #CE1628; }
      @media (max-width: 540px) {
        .cabinet-section .results-detail .order-title .code {
          width: 55px;
          min-width: 55px; } }
    .cabinet-section .results-detail .order-title .title {
      font-weight: 300; }
  .cabinet-section .results-detail .detail-table {
    display: none;
    background-color: #F7F7F7; }
  .cabinet-section .results-detail .detail-head,
  .cabinet-section .results-detail .detail-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .cabinet-section .results-detail .detail-head {
    background-color: #eeeeee; }
  .cabinet-section .results-detail .detail-head,
  .cabinet-section .results-detail .detail-body {
    padding-left: 20px;
    padding-right: 20px; }
    @media (max-width: 540px) {
      .cabinet-section .results-detail .detail-head,
      .cabinet-section .results-detail .detail-body {
        padding-left: 15px;
        padding-right: 15px; } }
  @media (max-width: 540px) {
    .cabinet-section .results-detail .detail-body {
      font-size: 11px; } }
  .cabinet-section .results-detail .detail-line:not(:last-child) {
    border-bottom: 1px solid #C4C4C4; }
  .cabinet-section .results-detail .head-label,
  .cabinet-section .results-detail .body-param {
    padding-left: 20px;
    padding-right: 20px; }
    @media (max-width: 1220px) {
      .cabinet-section .results-detail .head-label,
      .cabinet-section .results-detail .body-param {
        padding-left: 15px;
        padding-right: 15px; } }
    @media (max-width: 540px) {
      .cabinet-section .results-detail .head-label,
      .cabinet-section .results-detail .body-param {
        padding-left: 5px;
        padding-right: 5px; } }
    @media (max-width: 400px) {
      .cabinet-section .results-detail .head-label,
      .cabinet-section .results-detail .body-param {
        padding-left: 0; } }
    .cabinet-section .results-detail .head-label:first-child,
    .cabinet-section .results-detail .body-param:first-child {
      padding-left: 0; }
    .cabinet-section .results-detail .head-label:last-child,
    .cabinet-section .results-detail .body-param:last-child {
      padding-right: 0; }
  .cabinet-section .results-detail .head-label {
    padding-top: 10px;
    padding-bottom: 20px; }
  .cabinet-section .results-detail .body-param {
    padding-top: 15px;
    padding-bottom: 15px; }
  .cabinet-section .results-detail .detail-title {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .cabinet-section .results-detail .detail-param {
    width: 145px;
    min-width: 145px; }
    @media (max-width: 1220px) {
      .cabinet-section .results-detail .detail-param {
        width: 100px;
        min-width: 100px; } }
    @media (max-width: 540px) {
      .cabinet-section .results-detail .detail-param {
        width: 66px;
        min-width: 66px; } }
  .cabinet-section .results-detail .detail-normal {
    width: 210px;
    min-width: 210px; }
    @media (max-width: 1220px) {
      .cabinet-section .results-detail .detail-normal {
        width: 144px;
        min-width: 144px; } }
    @media (max-width: 540px) {
      .cabinet-section .results-detail .detail-normal {
        width: 70px;
        min-width: 70px; } }
  .cabinet-section .results-detail .detail-chart {
    width: 90px;
    min-width: 90px; }
    @media (max-width: 540px) {
      .cabinet-section .results-detail .detail-chart {
        width: 70px;
        min-width: 70px;
        text-align: right; } }
  .cabinet-section .results-detail .out-param {
    color: #CE1628;
    font-weight: 700; }
  .cabinet-section .results-detail .param-value {
    word-wrap: break-word; }
    @media (max-width: 540px) {
      .cabinet-section .results-detail .param-value {
        display: block; } }
  .cabinet-section .results-detail .chart-link::before {
    width: 42px;
    height: 20px; }
  .cabinet-section .results-detail .chart-link:hover {
    opacity: 0.7; }

.cabinet-section .params-category {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 40px;
  display: block; }
  @media (max-width: 540px) {
    .cabinet-section .params-category {
      font-size: 14px; } }

.cabinet-section .chart-block {
  margin-bottom: 40px; }
  .cabinet-section .chart-block .charts-top {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .cabinet-section .chart-block .chart-link {
    background-color: rgba(206, 22, 40, 0.03);
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 0;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .cabinet-section .chart-block .chart-link.disabled, .cabinet-section .chart-block .chart-link[disabled] {
      -webkit-filter: grayscale(1) opacity(0.3);
              filter: grayscale(1) opacity(0.3);
      cursor: not-allowed; }
    .cabinet-section .chart-block .chart-link:hover {
      background-color: rgba(206, 22, 40, 0.07); }
    .cabinet-section .chart-block .chart-link::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border-top: 1px solid #CE1628;
      border-left: 1px solid #CE1628; }
    .cabinet-section .chart-block .chart-link.prev::before {
      -webkit-transform: translateX(2px) rotate(-45deg);
          -ms-transform: translateX(2px) rotate(-45deg);
              transform: translateX(2px) rotate(-45deg); }
    .cabinet-section .chart-block .chart-link.next::before {
      -webkit-transform: translateX(-2px) rotate(135deg);
          -ms-transform: translateX(-2px) rotate(135deg);
              transform: translateX(-2px) rotate(135deg); }
  .cabinet-section .chart-block .chart-title {
    padding: 10px;
    font-size: 24px; }
    @media (max-width: 1023px) {
      .cabinet-section .chart-block .chart-title {
        font-size: 20px; } }
    @media (max-width: 540px) {
      .cabinet-section .chart-block .chart-title {
        font-size: 16px; } }
  .cabinet-section .chart-block .chart-wrapper {
    max-width: 100%;
    width: 840px;
    overflow: auto; }
    @media (max-width: 1220px) {
      .cabinet-section .chart-block .chart-wrapper {
        width: 600px; } }
    @media (max-width: 991px) {
      .cabinet-section .chart-block .chart-wrapper {
        width: auto;
        max-width: none; } }
    @media (max-width: 700px) {
      .cabinet-section .chart-block .chart-wrapper {
        margin-left: -15px;
        margin-right: -15px; } }

.cabinet-section .params-block .order-params {
  border-collapse: collapse;
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 40px; }
  @media (max-width: 540px) {
    .cabinet-section .params-block .order-params {
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 20px; } }
  .cabinet-section .params-block .order-params th, .cabinet-section .params-block .order-params td {
    padding: 15px;
    text-align: center; }
    .cabinet-section .params-block .order-params th:not(:last-child), .cabinet-section .params-block .order-params td:not(:last-child) {
      border-right: 1px solid #C4C4C4; }
  .cabinet-section .params-block .order-params th {
    background-color: #F1F1F1; }
  .cabinet-section .params-block .order-params tr:not(:last-child) td {
    border-bottom: 1px solid #C4C4C4; }

.cabinet-section .params-block .more-order {
  text-align: center; }

.cabinet-section .params-block .out-param {
  font-weight: bold;
  color: #CE1628; }

.cabinet-section .cabinet-slider {
  color: #ffffff;
  margin-bottom: 60px; }
  .cabinet-section .cabinet-slider .slick-arrow {
    display: none; }
  @media (max-width: 1220px) {
    .cabinet-section .cabinet-slider .slick-dots {
      display: none; } }
  .cabinet-section .cabinet-slider .slider-item {
    padding: 30px 30px 70px;
    text-align: center;
    position: relative;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50%;
    min-height: 200px; }
    @media (max-width: 1220px) {
      .cabinet-section .cabinet-slider .slider-item {
        padding: 20px; } }
    @media (max-width: 540px) {
      .cabinet-section .cabinet-slider .slider-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .cabinet-section .cabinet-slider .slider-item::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.8)));
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
      background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%); }
    .cabinet-section .cabinet-slider .slider-item .slide-text {
      position: relative;
      z-index: 1; }
    .cabinet-section .cabinet-slider .slider-item .slider-heading {
      font-size: 36px;
      margin-bottom: 100px; }
      @media (max-width: 1220px) {
        .cabinet-section .cabinet-slider .slider-item .slider-heading {
          margin-bottom: 65px;
          font-size: 24px; } }
      @media (max-width: 540px) {
        .cabinet-section .cabinet-slider .slider-item .slider-heading {
          display: none; } }
    .cabinet-section .cabinet-slider .slider-item .slide-icon {
      display: inline-block;
      width: 150px;
      margin-bottom: 45px; }
      @media (max-width: 1220px) {
        .cabinet-section .cabinet-slider .slider-item .slide-icon {
          width: 110px; } }
      @media (max-width: 540px) {
        .cabinet-section .cabinet-slider .slider-item .slide-icon {
          display: none; } }

.popup-find-order .form-notice {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.popup-find-order .form-heading {
  color: #484949;
  font-size: 16px;
  margin-bottom: 30px; }

.popup-find-order .form-body {
  margin-bottom: 40px; }

.popup-find-order .form-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px; }

.popup-find-order .line-label {
  width: 135px;
  min-width: 135px;
  font-weight: 300;
  font-size: 14px;
  text-align: left; }

.popup-find-order .line-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .popup-find-order .line-cell input {
    font-size: 14px;
    font-weight: 300;
    width: 144px;
    padding: 10px 15px; }

.popup-find-order .calendar-button {
  background-image: none;
  opacity: 0.5;
  padding: 10px;
  margin-left: -46px; }
  .popup-find-order .calendar-button:hover {
    opacity: 0.7; }
  .popup-find-order .calendar-button::before {
    width: 24px;
    height: 24px; }

.popup-find-order .form-actions .button {
  width: 150px; }

.popup-find-order .form-actions .find-button {
  margin-bottom: 20px; }

.popup-find-order .form-actions .clear-button {
  color: #A1A1A1;
  border-color: #A1A1A1; }
  .popup-find-order .form-actions .clear-button:hover {
    color: #555555;
    border-color: #555555; }

.popup-send-order .popup-container {
  width: 620px;
  max-width: 100%; }

.popup-send-order input {
  width: 290px; }

.popup-send-order .form-body {
  margin-bottom: 40px; }

.popup-agreement .popup-container {
  width: 520px;
  max-width: 100%; }

.popup-agreement .popup-heading {
  margin-bottom: 20px; }

.popup-agreement .agreement-text,
.agreement-box .agreement-text {
  height: 190px;
  width: 400px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border: 1px solid #CE1628;
  padding: 10px;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.9;
  text-align: left; }

.popup-agreement .form-actions .button,
.agreement-box .form-actions .button {
  width: 150px; }

.popup-agreement .form-actions .agreement-accept,
.agreement-box .form-actions .agreement-accept {
  margin-bottom: 20px; }

.popup-agreement .form-actions .agreement-decline,
.agreement-box .form-actions .agreement-decline {
  color: #A1A1A1;
  border-color: #A1A1A1; }
  .popup-agreement .form-actions .agreement-decline:hover,
  .agreement-box .form-actions .agreement-decline:hover {
    color: #555555;
    border-color: #555555; }

.popup-agreement .form-notice,
.agreement-box .form-notice {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.cabinet-section .agreement-box {
  margin-left: 15px;
  margin-right: 15px; }
  .cabinet-section .agreement-box .agreement-text {
    width: 700px; }
  .cabinet-section .agreement-box .form-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 720px) {
      .cabinet-section .agreement-box .form-actions {
        display: block;
        text-align: center; } }
    .cabinet-section .agreement-box .form-actions .button {
      margin: 0 20px 40px; }
      @media (max-width: 720px) {
        .cabinet-section .agreement-box .form-actions .button {
          margin: 0 0 20px; } }
