.checkresult-section .block-container {
  padding: 30px 60px; }
  @media (max-width: 1023px) {
    .checkresult-section .block-container {
      padding: 20px 15px; } }
  @media (max-width: 360px) {
    .checkresult-section .block-container {
      padding-left: 10px;
      padding-right: 10px; } }

.checkresult-section .header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .checkresult-section .header-container .logo-box {
    width: 185px;
    min-width: 185px; }
    @media (max-width: 540px) {
      .checkresult-section .header-container .logo-box {
        min-width: 0; } }
    .checkresult-section .header-container .logo-box img {
      width: 100%; }
  .checkresult-section .header-container .block-info {
    text-align: right;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 15px; }
    .checkresult-section .header-container .block-info .item-title {
      font-weight: 600;
      font-size: 22px;
      color: #CE1628;
      padding-bottom: 9px; }
      @media (max-width: 540px) {
        .checkresult-section .header-container .block-info .item-title {
          font-size: 16px;
          padding-bottom: 4px; } }
    .checkresult-section .header-container .block-info .item-desc {
      font-size: 18px;
      font-weight: 600; }
      @media (max-width: 540px) {
        .checkresult-section .header-container .block-info .item-desc {
          font-size: 14px; } }

.checkresult-section .heading-block {
  background-color: #D4DBE7; }

.checkresult-section .heading-container .item-heading {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 22px; }
  @media (max-width: 1023px) {
    .checkresult-section .heading-container .item-heading {
      font-size: 24px;
      padding-bottom: 10px;
      word-break: keep-all;
      -webkit-hyphens: none;
          -ms-hyphens: none;
              hyphens: none; } }
  @media (max-width: 360px) {
    .checkresult-section .heading-container .item-heading {
      font-size: 20px; } }

.checkresult-section .heading-container .item-desc {
  font-size: 24px;
  color: #484949; }
  @media (max-width: 1023px) {
    .checkresult-section .heading-container .item-desc {
      font-size: 18px; } }
  @media (max-width: 360px) {
    .checkresult-section .heading-container .item-desc {
      font-size: 16px; } }

.checkresult-section .result-status {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #463f00; }
  .checkresult-section .result-status::before {
    width: 120px;
    min-width: 120px;
    height: 120px;
    margin-right: 40px;
    background-image: url(./../img/icons/checkresult/right.svg); }
    @media (max-width: 1023px) {
      .checkresult-section .result-status::before {
        width: 75px;
        height: 75px;
        min-width: 75px;
        margin-right: 15px; } }
  .checkresult-section .result-status.invalid {
    color: #000000; }
    .checkresult-section .result-status.invalid::before {
      background-image: url(./../img/icons/checkresult/error.svg); }
  .checkresult-section .result-status .item-title {
    font-size: 32px;
    padding-bottom: 10px; }
    @media (max-width: 1023px) {
      .checkresult-section .result-status .item-title {
        font-size: 24px;
        padding-bottom: 7px; } }
  .checkresult-section .result-status .item-desc {
    font-size: 24px; }
    @media (max-width: 1023px) {
      .checkresult-section .result-status .item-desc {
        font-size: 18px; } }

.checkresult-section .results-block {
  background-color: #F5F5F5; }
  .checkresult-section .results-block .result-item,
  .checkresult-section .results-block .block-notices {
    border-top: 1px dashed #A1A1A1;
    padding: 30px 60px 40px; }
    @media (max-width: 1023px) {
      .checkresult-section .results-block .result-item,
      .checkresult-section .results-block .block-notices {
        padding: 20px 15px; } }
    @media (max-width: 360px) {
      .checkresult-section .results-block .result-item,
      .checkresult-section .results-block .block-notices {
        padding-left: 10px;
        padding-right: 10px; } }
  .checkresult-section .results-block .error-notice {
    font-size: 24px;
    padding-bottom: 40px; }
    @media (max-width: 1023px) {
      .checkresult-section .results-block .error-notice {
        font-size: 18px;
        padding-bottom: 20px; } }
    .checkresult-section .results-block .error-notice:last-child {
      padding-bottom: 0; }
    .checkresult-section .results-block .error-notice .item-value {
      color: #CE1628; }
  .checkresult-section .results-block .item-param {
    padding-bottom: 25px; }
    .checkresult-section .results-block .item-param:last-child {
      padding-bottom: 0; }
  .checkresult-section .results-block .param-label {
    color: #4b4b4b;
    padding-bottom: 5px;
    font-size: 16px; }
  .checkresult-section .results-block .param-value {
    font-size: 24px; }
    @media (max-width: 1023px) {
      .checkresult-section .results-block .param-value {
        font-size: 18px; } }
    .checkresult-section .results-block .param-value.important {
      font-size: 32px; }
      @media (max-width: 1023px) {
        .checkresult-section .results-block .param-value.important {
          font-size: 24px; } }

.checkresult-section .footer-block {
  background-color: #2c3036;
  color: #a1a1a1; }
  .checkresult-section .footer-block a {
    color: #a1a1a1; }
  .checkresult-section .footer-block .footer-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 540px) {
      .checkresult-section .footer-block .footer-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .checkresult-section .footer-block .phone-box {
    padding-right: 56px; }
    @media (max-width: 540px) {
      .checkresult-section .footer-block .phone-box {
        padding-right: 0;
        padding-bottom: 30px; } }
    .checkresult-section .footer-block .phone-box .item-label {
      font-size: 24px;
      padding-bottom: 27px; }
      @media (max-width: 1023px) {
        .checkresult-section .footer-block .phone-box .item-label {
          font-size: 18px;
          padding-bottom: 15px; } }
    .checkresult-section .footer-block .phone-box .phone-link {
      font-size: 32px;
      font-weight: 600; }
      @media (max-width: 1023px) {
        .checkresult-section .footer-block .phone-box .phone-link {
          font-size: 24px; } }
  .checkresult-section .footer-block .hours-box {
    padding-top: 5px; }
    .checkresult-section .footer-block .hours-box .item-param {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 5px;
      font-size: 14px; }
    .checkresult-section .footer-block .hours-box .param-label {
      width: 50px;
      min-width: 50px; }
